venv*
gen/proto/v1
*.db
__pycache__
config.toml
*.bin
*.env
*.exe
*.graphql
*.egg-info
*.zip
*.tar.gz
dist/
build/
deploy/site/*
deploy/redis.conf
deploy/rabbitmq.config
docker-compose.c2.yaml
deploy/keys/*
ansible/site/*
gen/
inventory*.yaml
*.log
cicd
stuff*
.coverage