--dns-tcp --zip {% if dc_only %}-c DCOnly {% endif %}-d {{ credential.domain.long_name }} -u {{ credential.username }} {% if credential.password.password %}-p '{{ credential.password.password }}'{% endif %}{% if credential.password.nt %}-hashes :{{ credential.password.nt }} {% endif %}{% if target_computer %} -dc {{ target_computer }}{% endif %}{% if extra_args %} {{ extra_args }}{% endif %}