{"file":"[nanodump.x64.o_ID]","arguments":"i:{{ pid | int }} z:{{ path }} i:{{ write_file | int }} i:{{ use_valid_sig | int }} i:{{ fork | int }} i:{{ snapshot | int }} i:{{ dup | int }} i:{{ elevate_handle | int }} i:{{ duplicate_elevate | int }} i:{{ get_pid | int }} i:{{ use_seclogon_leak_local | int }} i:{{ use_seclogon_leak_remote | int }} z:{{ seclogon_leak_remote_binary }} i:{{ use_seclogon_duplicate | int }} i:{{ spoof_callstack | int }} i:{{ use_silent_process_exit | int }} z:{{ silent_process_exit }} i:{{ use_lsass_shtinkering | int }}"}