{% if harbinger_http_proxy %}HTTP_PROXY="{{ harbinger_http_proxy }}"
{% endif %}
{% if harbinger_https_proxy %}HTTPS_PROXY="{{ harbinger_https_proxy }}"
{% endif %}
{% if harbinger_http_proxy or harbinger_https_proxy %}NO_PROXY="127.0.0.1,localhost,postgresql,temporal,temporal-ui,postgres,redis,minio,web,grpc,caddy,tmate"
{% endif %}
