REDIS_DSN=redis://:{{ harbinger_redis_password }}@{{ harbinger_redis_host }}:{{ harbinger_redis_port }}/{{ harbinger_redis_db }}
PG_DSN=postgresql+asyncpg://{{ harbinger_postgres_user }}:{{ harbinger_postgres_password }}@{{ harbinger_postgres_host }}:{{ harbinger_postgres_port}}/{{ harbinger_postgres_db }}
MINIO_HOST={{ harbinger_minio_host }}:{{ harbinger_minio_port }}
MINIO_SSL={{ harbinger_minio_ssl }}
MINIO_DEFAULT_BUCKET={{ harbinger_minio_default_bucket }}
MINIO_ACCESS_KEY={{ harbinger_minio_admin }}
MINIO_SECRET_KEY={{ harbinger_minio_secret_key }}
NEO4J_HOST=bolt://{{ harbinger_neo4j_host }}:{{ harbinger_neo4j_port }}
NEO4J_USER={{ harbinger_neo4j_user }}
NEO4J_PASSWORD={{ harbinger_neo4j_password }}
TEMPORAL_HOST={{ harbinger_temporal_host }}
HARBINGER_GRPC_HOST={{ harbinger_grpc_host }}
{% if harbinger_gemini_key %}GEMINI_API_KEY={{harbinger_gemini_key}}
{% endif %}
GEMINI_ENABLED={% if harbinger_gemini_key %}1{% else %}0{% endif %}
